# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build

# Env files
.env
backend/.env

# Backend
backend/node_modules
backend/prisma/migrations

# Frontend
frontend/node_modules
frontend/dist

# OS
.DS_Store
Thumbs.db
